@import "~css-reset-and-normalize/css/reset-and-normalize.min.css";

html, body, #root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Press Start 2P';
  src: local('Press Start 2P'), url(assets/fonts/press-start-2p.ttf) format('truetype');
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
